<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Eventos</title>
</h:head>

<h:body>
    <h:form>
        <h2>Eventos</h2>

        <p:panel>
            <p:dataTable var="evento" value="#{eventoController.eventos}">
                <p:column headerText="data">
                    <h:outputText value="#{evento['data']}"/>
                </p:column>

                <p:column headerText="nome">
                    <h:outputText value="#{evento['nome']}"/>
                </p:column>

                <p:column headerText="descricao">
                    <h:outputText value="#{evento['descricao']}"/>
                </p:column>
            </p:dataTable>
        </p:panel>
    </h:form>
</h:body>
</html>